@import '../../styles/App.scss';
@import '../../styles/mixin/mixin.scss';

$light-gray: rgb(119, 119, 119);
$text-color-white: #ffffff;
$back-opacity-light: rgba(transparent, 0.3);
$back-opacity-medium: rgba(transparent, 0.5);

.weather{
    max-width: 1440px;
    width: 100%;
    @include flexColumn();
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    
    &__error{
        position: absolute;
        top: 10%;
        left: 50%;
        transform: translate(-50%, -50%)
    }

    &__loader{
        position: absolute;
        top: 50%;
        left: 50%;
        width: 70px;
        height: 70px;
        border: 5px dashed $light-gray;
        border-radius: 50%;
        animation: rotate 2s infinite alternate ;
    }

    @keyframes rotate {
        from{
            transform: rotate(0deg) scale(1);
        }to{
            transform: rotate(360deg) scale(2);
        }
    }

    &__container{
        max-width: 400px;
        width: 100%;
        background: $back-opacity-light;
        border-radius: 10px;
    }

    &__header{
        @include flexBetween();
        padding-top: 10px;
    }

    &__input{
        outline: none;
        border: 3px solid $text-color-white;
        border-radius: 10px;
        background: transparent;
        color: $text-color-white;
        max-width: 250px;
        width: 100%;
        padding: 10px;
        @include textMedium();
        margin-left: 10px;

        &::placeholder{
            font-family: $text-name;
            color: $text-color-white;
        }
    }

    &__btn{
        width: 50px;
        height: 50px;
        background: transparent;
        border: 3px solid $text-color-white;
        border-radius: 50%;
        color: $text-color-white;
        @include textMedium();
        margin-right: 10px;
        cursor: pointer;
        transform: scale(1);
        transition: all 200ms;

        &:hover{
            box-shadow: 0 0 3px 3px $text-color-white;
        }

        &:active{
            transform: scale(0.9);
        }
    }

    &-current{
        color: $text-color-white;
        padding: 10px;

        &__header{
            @include flexBetween();
        }

        &__info{
            font-weight: 600;
            font-size: 26px;
        }

        &__main{
            @include flexBetween();
            padding: 20px 0;
        }

        &__clouds{
            @include flexColumn();
        }

        &__info-main{
            @include textMedium();
            font-size: 26px;
        }

        &__image{
                width: 100px;
                height: 100px;
        }

        &__temp-sunrise{
            @include flexAround();
            flex-direction: column;
            align-items: center;
            font-weight: 600;
            font-size: 16px;
        }

        &__temp{
            font-weight: 600;
            font-size: 40px;
        }

        &__footer{
            @include flexBetween();
            flex-direction: column;
        }

        &__temp-maxmin{
            @include flexBetween();
        }

        &__enviroment{
            @include flexBetween();
        }
    }

    .forecast{
        width: 100%;
        padding: 10px;
        color: $text-color-white;

        &__container{
            @include flexColumn();
        }

        &__title{
            padding-top: 5px;
            font-weight: 400;
            line-height: 20px;
            font-size: 20px
        }

        &__items{
            @include flexAround();
        }

        &__item{
            max-width: 140px;
            width: 100%;
            background: $back-opacity-medium;
            border-radius: 5px;
            @include flexColumn();
            align-items: center;
            padding-bottom: 5px;
        }

        &__description{
            @include textMedium();
            font-size: 16px
        }
            
        &__days{
            @include flexAround();
            margin-top: 10px;
        }

        &__day{
            @include flexAround();
            padding-bottom: 5px;
        }
    }
}

@media (max-width: 1200px) {
    .weather{
        max-width: 970px;

        .forecast{
            &__item{
                max-width: 130px;
                width: 100%;
            }
    
            &__description{
                display: none;
            }

        }
    }
}

@media (max-width: 992px) {
    .weather{
        max-width: 750px;

        .forecast{
            &__item{
                max-width: 110px;
                width: 100%;
            }

            &__day{
                max-width: 130px;
                width: 100%;
            }
        }
    }

}

@media (max-width: 767px) {
    .weather{
        max-width: 500px;
        @include flexColumn();
        justify-content: center;

        .forecast{
            &__items{
                justify-content: space-between;
                margin: 10px auto;
                max-width: 400px;
                width: 100%;
                flex-wrap: wrap;
            }

            &__item{
                max-width: 130px;
                width: 100%;
                margin-bottom: 5px;
            }

            &__days{
                justify-content: flex-start;
                flex-wrap: wrap;
                margin: 5px auto;
                max-width: 400px;
                width: 100%;
            }

            &__day{
                margin-right: 5px;

                &:nth-child(3){
                    margin-right: 0;
                }
            }

        }
    }
}

@media (max-width: 430px) {
    .weather{
        max-width: 390px;

        .forecast{
            &__item{
                max-width: 180px;
                width: 100%;
                padding: 10px 0;
            }

            &__day{
                margin-right: 5px;

                &:nth-child(3){
                    margin-right: 5px;
                }
            }

            &__title{
                font-weight: 500;
                font-size: 26px;
            }
        }
    }
}



